@charset "UTF-8";

/* 見出し
------------------------------- */
.font{
    font-family: 'Philosopher', sans-serif;
    margin-top: 2rem;
    text-align: center;
}
h2{
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    font-weight: normal;

}

/* ヘッダー
------------------------------- */
.logo {
    width: 210px;
}

header {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
}

.nav a {
    text-decoration: none; 
    color: #432;
}

.cover{
    background-image: url(../images/cover-home-s.webp);
    background-size: cover;
    height: 800px;
    background-position: center bottom;
}

.about {
    max-width: 736px;   /* エリアの最大幅を設定 */
    padding: 0 1.5rem;  /* 横の余白を追加 */
    margin: 3rem auto 0;    /* 上にスペースを追加し、中央寄せ */
}
.about p {
    margin-top: 3rem;   /* 1段落目の上にスペースを追加 */
    margin-bottom: 3rem; /* 1段落目の下にスペースを追加 */
    line-height: 1.7; /* 行間を広げる */
    color: #432;    /* テキストの色を変更 */
}

.align-center {
    text-align: center; /* 中央揃え */
}

/* ボタン */
.btn {
    display: inline-block;          /* 文中に置けるブロック */
    font-size: 1.5rem;
    background-color: #0bd;         /* 明るい水色 */
    color: #fff;                    /* 文字色は白 */
    border-radius: 8px;             /* 角の丸み */
    padding: .75rem 1.5rem;         /* 上下 .75rem、左右 1.5rem */
    text-decoration: none;         /* リンクの下線を消す */

}
